In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plot

In [27]:
df = pd.read_csv("C://Users/DELL//cleaned_House_prices.csv")
df.head()

,Unnamed: 0,Title,Amount(in rupees),Price (in rupees),location,Floor,Transaction,Furnishing,facing,Bathroom,Balcony,Carpet Area (sqft)
0,0,1.0,4200000.0,6000.0,thane,3.0,Resale,Unfurnished,East,1.0,2.0,500.0
1,1,2.0,9800000.0,6034.0,thane,3.0,Resale,Semi-Furnished,East,2.0,2.0,473.0
2,2,2.0,7800000.0,6034.0,thane,3.0,Resale,Unfurnished,East,2.0,2.0,779.0
3,3,1.0,2500000.0,6034.0,thane,1.0,Resale,Unfurnished,East,1.0,1.0,530.0
4,4,2.0,7800000.0,6034.0,thane,3.0,Resale,Unfurnished,West,2.0,2.0,635.0

In [28]:
df.columns

Index(['Unnamed: 0', 'Title', 'Amount(in rupees)', 'Price (in rupees)',
       'location', 'Floor', 'Transaction', 'Furnishing', 'facing', 'Bathroom',
       'Balcony', 'Carpet Area (sqft)'],
      dtype='object')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187531 entries, 0 to 187530
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          187531 non-null  int64
 1   Title               187531 non-null  float64
 2   Amount(in rupees)   187531 non-null  float64
 3   Price (in rupees)   187531 non-null  float64
 4   location            187531 non-null  object
 5   Floor               187531 non-null  float64
 6   Transaction         187531 non-null  object
 7   Furnishing          187531 non-null  object
 8   facing              187531 non-null  object
 9   Bathroom            187531 non-null  float64
 10  Balcony             187531 non-null  float64
 11  Carpet Area (sqft)  187531 non-null  float64
dtypes: float64(7), int64(1), object(4)
memory usage: 17.2+ MB

In [30]:
df.isnull().sum()

Unnamed: 0            0
Title                 0
Amount(in rupees)     0
Price (in rupees)     0
location              0
Floor                 0
Transaction           0
Furnishing            0
facing                0
Bathroom              0
Balcony               0
Carpet Area (sqft)    0
dtype: int64

In [10]:
df.columns

Index(['Title', 'Amount(in rupees)', 'Price (in rupees)', 'location', 'Floor',
       'Transaction', 'Furnishing', 'facing', 'Bathroom', 'Balcony',
       'Carpet Area (sqft)'],
      dtype='object')

In [34]:
x = df[['Title','location', 'Transaction','Floor', 'Furnishing', 'facing', 'Bathroom',
       'Balcony']]

In [35]:
y = df["Amount(in rupees)"]

In [36]:
x.head()

   Title location Transaction  Floor      Furnishing facing  Bathroom  Balcony
0    1.0    thane      Resale    3.0     Unfurnished   East       1.0      2.0
1    2.0    thane      Resale    3.0  Semi-Furnished   East       2.0      2.0
2    2.0    thane      Resale    3.0     Unfurnished   East       2.0      2.0
3    1.0    thane      Resale    1.0     Unfurnished   East       1.0      1.0
4    2.0    thane      Resale    3.0     Unfurnished   West       2.0      2.0

In [37]:
df['Transaction'].unique()

array(['Resale', 'New Property', 'Other', 'Rent/Lease'], dtype=object)

In [38]:
# Check their types
print(x.dtypes)

Title          float64
location        object
Transaction     object
Floor          float64
Furnishing      object
facing          object
Bathroom       float64
Balcony        float64
dtype: object

In [39]:
x_cat_cols = x.select_dtypes(include='object')
x_num_cols = x.select_dtypes(include='number')

In [40]:
x_cat_cols.shape

(187531, 4)

In [41]:
x_num_cols.shape

(187531, 4)

In [42]:
x_cat_cols.head()

  location Transaction      Furnishing facing
0    thane      Resale     Unfurnished   East
1    thane      Resale  Semi-Furnished   East
2    thane      Resale     Unfurnished   East
3    thane      Resale     Unfurnished   East
4    thane      Resale     Unfurnished   West

In [43]:
df["location"].unique()

array(['thane', 'navi-mumbai', 'nagpur', 'mumbai', 'ahmedabad',
       'bangalore', 'chennai', 'gurgaon', 'hyderabad', 'indore', 'jaipur',
       'kolkata', 'lucknow', 'new-delhi', 'noida', 'pune', 'agra',
       'ahmadnagar', 'allahabad', 'aurangabad', 'badlapur', 'belgaum',
       'bhiwadi', 'bhiwandi', 'bhopal', 'bhubaneswar', 'chandigarh',
       'coimbatore', 'dehradun', 'durgapur', 'ernakulam', 'faridabad',
       'ghaziabad', 'goa', 'greater-noida', 'guntur', 'guwahati',
       'gwalior', 'haridwar', 'jabalpur', 'jamshedpur', 'jodhpur',
       'kalyan', 'kanpur', 'kochi', 'kozhikode', 'ludhiana', 'madurai',
       'mangalore', 'mohali', 'mysore', 'nashik', 'navsari', 'nellore',
       'palakkad', 'palghar', 'panchkula', 'patna', 'pondicherry',
       'raipur', 'rajahmundry', 'ranchi', 'satara', 'shimla', 'siliguri',
       'solapur', 'sonipat', 'surat', 'thrissur', 'tirupati', 'trichy',
       'trivandrum', 'udaipur', 'udupi', 'vadodara', 'vapi', 'varanasi',
       'vijayawada', 'visakhapatnam', 'vrindavan', 'zirakpur'],
      dtype=object)

In [44]:
# drop_first=True is used to avoid the dummy variable trap.
x_cat_cols = pd.get_dummies(df, columns=['location', 'Transaction', 'Furnishing', 'facing'], drop_first=True)
x_cat_cols.head()

,Unnamed: 0,Title,Amount(in rupees),Price (in rupees),Floor,Bathroom,Balcony,Carpet Area (sqft),location_ahmadnagar,location_ahmedabad,...,Transaction_Resale,Furnishing_Semi-Furnished,Furnishing_Unfurnished,facing_North,facing_North - East,facing_North - West,facing_South,facing_South - East,facing_South -West,facing_West
0,0,1.0,4200000.0,6000.0,3.0,1.0,2.0,500.0,False,False,...,True,False,True,False,False,False,False,False,False,False
1,1,2.0,9800000.0,6034.0,3.0,2.0,2.0,473.0,False,False,...,True,True,False,False,False,False,False,False,False,False
2,2,2.0,7800000.0,6034.0,3.0,2.0,2.0,779.0,False,False,...,True,False,True,False,False,False,False,False,False,False
3,3,1.0,2500000.0,6034.0,1.0,1.0,1.0,530.0,False,False,...,True,False,True,False,False,False,False,False,False,False
4,4,2.0,7800000.0,6034.0,3.0,2.0,2.0,635.0,False,False,...,True,False,True,False,False,False,False,False,False,True

In [45]:
x_num_cols.head()

   Title  Floor  Bathroom  Balcony
0    1.0    3.0       1.0      2.0
1    2.0    3.0       2.0      2.0
2    2.0    3.0       2.0      2.0
3    1.0    1.0       1.0      1.0
4    2.0    3.0       2.0      2.0

In [46]:
x = pd.concat([x_cat_cols,x_num_cols],axis=1)

In [47]:
x.head(10)

,Unnamed: 0,Title,Amount(in rupees),Price (in rupees),Floor,Bathroom,Balcony,Carpet Area (sqft),location_ahmadnagar,location_ahmedabad,...,facing_North - East,facing_North - West,facing_South,facing_South - East,facing_South -West,facing_West,Title,Floor,Bathroom,Balcony
0,0,1.0,4200000.0,6000.0,3.0,1.0,2.0,500.0,False,False,...,False,False,False,False,False,False,1.0,3.0,1.0,2.0
1,1,2.0,9800000.0,6034.0,3.0,2.0,2.0,473.0,False,False,...,False,False,False,False,False,False,2.0,3.0,2.0,2.0
2,2,2.0,7800000.0,6034.0,3.0,2.0,2.0,779.0,False,False,...,False,False,False,False,False,False,2.0,3.0,2.0,2.0
3,3,1.0,2500000.0,6034.0,1.0,1.0,1.0,530.0,False,False,...,False,False,False,False,False,False,1.0,1.0,1.0,1.0
4,4,2.0,7800000.0,6034.0,3.0,2.0,2.0,635.0,False,False,...,False,False,False,False,False,True,2.0,3.0,2.0,2.0
5,5,1.0,4500000.0,6618.0,2.0,1.0,1.0,1060.0,False,False,...,False,False,False,False,False,False,1.0,2.0,1.0,1.0
6,6,1.0,1650000.0,2538.0,4.0,1.0,2.0,550.0,False,False,...,False,False,False,False,False,False,1.0,4.0,1.0,2.0
7,7,1.0,6000000.0,6034.0,3.0,1.0,2.0,1060.0,False,False,...,False,False,False,False,False,False,1.0,3.0,1.0,2.0
8,8,1.0,6000000.0,6034.0,3.0,1.0,2.0,1060.0,False,False,...,False,False,False,False,False,False,1.0,3.0,1.0,2.0
9,9,3.0,7800000.0,6034.0,3.0,3.0,1.0,900.0,False,False,...,False,False,False,False,False,False,3.0,3.0,3.0,1.0

In [48]:
# sklearn -> sci-kit learn -> scientific Kit learn

In [49]:
from sklearn.model_selection import train_test_split #sci-kit learn

from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_squared_error, r2_score

In [50]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.10, random_state = 8)

In [51]:
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(168777, 104) (18754, 104) (168777,) (18754,)

### Model Training

In [52]:
model = LinearRegression() # model initilization

In [53]:
model.fit(x_train,y_train)

LinearRegression()

### Model Testing

In [54]:
test_predictions = model.predict(x_test)

In [55]:
test_predictions

array([7800000., 7800000., 3700000., ..., 8700000., 9300000., 1900000.])

In [56]:
y_test

165867    7800000.0
54220     7800000.0
6515      3700000.0
41209     7950000.0
21045     8300000.0
            ...
164908    4600000.0
127329    7800000.0
160968    8700000.0
10741     9300000.0
146736    1900000.0
Name: Amount(in rupees), Length: 18754, dtype: float64

In [57]:
train_predictions = model.predict(x_train)

In [69]:
print("Test Mean Squared Error: ",mean_squared_error(y_test,test_predictions))

Test Mean Squared Error:  9.861360455159427e-18

In [70]:
0.000000000000000009861360455159427

9.861360455159427e-18

In [73]:
print("Train Mean Squared Error: ",mean_squared_error(y_train,train_predictions))

Train Mean Squared Error:  9.791296949110937e-18

In [74]:
0.000000000000000009791296949110937

9.791296949110937e-18

In [62]:
print("Test R2 Score: ",r2_score(y_test,test_predictions))

Test R2 Score:  1.0

In [63]:
print("Train R2 Score: ",r2_score(y_train,train_predictions))

Train R2 Score:  1.0

In [64]:
print("Test R2 Score: ",r2_score(y_test,test_predictions)*100)

Test R2 Score:  100.0

In [65]:
print("Train R2 Score: ",r2_score(y_train,train_predictions)*100)

Train R2 Score:  100.0

In [66]:
df

,Unnamed: 0,Title,Amount(in rupees),Price (in rupees),location,Floor,Transaction,Furnishing,facing,Bathroom,Balcony,Carpet Area (sqft)
0,0,1.0,4200000.0,6000.0,thane,3.0,Resale,Unfurnished,East,1.0,2.0,500.0
1,1,2.0,9800000.0,6034.0,thane,3.0,Resale,Semi-Furnished,East,2.0,2.0,473.0
2,2,2.0,7800000.0,6034.0,thane,3.0,Resale,Unfurnished,East,2.0,2.0,779.0
3,3,1.0,2500000.0,6034.0,thane,1.0,Resale,Unfurnished,East,1.0,1.0,530.0
4,4,2.0,7800000.0,6034.0,thane,3.0,Resale,Unfurnished,West,2.0,2.0,635.0
...,...,...,...,...,...,...,...,...,...,...,...,...
187526,187526,3.0,6300000.0,3225.0,zirakpur,2.0,New Property,Semi-Furnished,East,3.0,3.0,1060.0
187527,187527,3.0,5500000.0,3274.0,zirakpur,4.0,Resale,Unfurnished,North - East,3.0,2.0,1060.0
187528,187528,3.0,7600000.0,4343.0,zirakpur,1.0,Resale,Furnished,East,3.0,2.0,1250.0
187529,187529,2.0,3000000.0,4231.0,zirakpur,2.0,Resale,Semi-Furnished,East,2.0,2.0,1060.0
187530,187530,3.0,11800000.0,6162.0,zirakpur,3.0,Resale,Semi-Furnished,North - East,4.0,4.0,1060.0